*{
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  padding-inline-start: 0;
}
html{background: whitesmoke;;}
body{
  background: white;
  max-width: 1220px;
  margin: 0 auto;
  }
.menu{
  max-width: 1220px;
    padding: 0 20px 0 20px;
    background:white;
}
.saturs{background:white}
#pievienot{
  border: 1px solid grey;
}
#Kategorijas{
  background:grey;
}
.mainmenu{
  background:white;
}
.main_menu {
  padding-left:10px;
  border-left: 1px solid #f6cc05;
}
.second{
  background:white;
  height:30px;
}
.main_menu_item {
    display: inline;
    font-size: 20px;
    padding-left: 13px;
    border-left: 1px solid #f6cc05;
    margin-right: 10px;
  }
.main_menu_item:nth-child(1){
    font-size: 20px;
    padding-left: 5px;
    border-left: 0;
}
.second_menu_item {
    display: inline;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}
.second_menu_item:nth-child(1){
  border-left:none;
}
.second_menu_item:hover{
  text-decoration: underline;
}
.elements {
    border: 1px solid grey;
    margin: 10px 10px 10px 0;
    width: 78%;
    padding: 10px;
    position: relative;
    float: right;
}
.sidebar {
      margin: 10px 0 10px 10px;
      border: 1px solid grey;
      padding: 10px;
      width: 20%;
      float: left;
      position: relative;
  }
  .elements_item {
      min-width: 165px;
      width: 17%;
      float: left;
      position: relative;
      margin: 10px;
      border: 1px solid #f1f1f1;
  }
  .elements_item:hover{
    border: 1px solid grey;
  }
  .element_info {
      min-height: 145px;
      position: relative;
      padding: 10px 5px;
  }
  .picture {
      margin: 0 auto;
      width: 95%;
      padding: 5px;
      height: 130px;
      overflow: hidden;
      background: #f6cc05;
  }
.element_kategorija{
  font-size:11px;
}
.vh2, .virsraksts {
    font-size: 1.3rem;
    padding: 5px 0;
}
.pavadteksts{
  font-size:0.9rem
}
.pievienot, button{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    background: #f6cc05;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}
.poga{
    margin: 0 auto;
    width: 90%;
    background: #f6cc05;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 5px;
}
/* Bordered form */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
