*{
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  padding-inline-start: 0;
}
html{background: grey;}
body{
  background: #f1f1f1;
  max-width: 1220px;
  margin: 0 auto;
  }
.menu{
  max-width: 1220px;
    padding: 0 20px 0 20px;
    background:white;
}
.saturs{background:white}
#pievienot{
  border: 1px solid grey;
}
#Kategorijas{
  background:grey;
}
.mainmenu{
  background:white;
}
.main_menu {
  padding-left:10px;
  border-left: 1px solid #f6cc05;
}
.second{
  background:white;
  height:30px;
}
.main_menu_item {
    display: inline;
    font-size: 20px;
    padding-left: 13px;
    border-left: 1px solid #f6cc05;
    margin-right: 10px;
  }
.main_menu_item:nth-child(1){
    font-size: 20px;
    padding-left: 5px;
    border-left: 0;
}
.second_menu_item {
    display: inline;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}
.second_menu_item:nth-child(1){
  border-left:none;
}
.second_menu_item:hover{
  text-decoration: underline;
}
.elements {
    border: 1px solid grey;
    margin: 10px 10px 10px 0;
    width: 78%;
    padding: 10px;
    position: relative;
    float: right;
}
.sidebar {
      margin: 10px 0 10px 10px;
      border: 1px solid grey;
      padding: 10px;
      width: 20%;
      float: left;
      position: relative;
  }
  .elements_item {
      min-width: 175px;
      width: 18%;
      float: left;
      position: relative;
      margin: 5px;
      border: 1px solid #f1f1f1;
  }
  .elements_item:hover{
    border: 1px solid grey;
  }
  .element_info {
      min-height: 145px;
      position: relative;
      padding: 10px 5px;
  }
  .picture {
      margin: 0 auto;
      width: 95%;
      height: 150px;
      overflow: hidden;
      background: #f6cc05;
  }
.element_kategorija{
  font-size:11px;
}
.vh2, .virsraksts {
    font-size: 1.3rem;
    padding: 5px 0;
}
.pavadteksts{
  font-size:0.9rem
}
.pievienot{
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    background: #f6cc05;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}
.poga {
    margin: 0 auto;
    width: 90%;
    background: #f6cc05;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 5px;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
