#pievienot{
  border: 1px solid grey;
}
#Kategorijas{
  background:greyš
}
.mainmenu{
  bottom-border:1px solid green;
}
.main_menu {
  padding-left:10px;
  border-left: 1px solid blue;
}
.second{
  border: 1px solid red;
}
.second_menu{
  background:green;
}
.main_menu_item{
  background: red;
}
.second_menu_item{
background:blue;}
